.cardContainer{
    /* background-color: lightseagreen; */
    width: 310px;
    cursor: pointer;
}
.cardtop{
    border-radius: 15px;
    width: 310px;
    height: 175px;
    overflow: hidden;
    /* border: 1px solid black; */
}
.cardbottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 7px;
}
.cardtop img{
    width: 100%;
    object-fit: cover;
}
.viewnday{
    display: flex;
    gap: .7rem;
}
.cardbottom h4{
    font-size: .95rem;
}
.cardbottom p{
    font-size: .9rem;
    color: #939393;
}
.cardbottom{
    display: flex;
    flex-direction: column;
    gap: 5px;
}