.homeContainer{
    height: calc(100vh - 56px);
    display: flex;
    /* color: black; */
}
.homeContainer .homeleft{
    width: 240px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    background-color: #0F0F0F;
    transition: all .3s ease-in-out;
    /* height: 100%; */
}
.homeContainer .homeright{
    background-color: #0F0F0F;
    /* height: 100vh; */
    width: 100%;
    overflow-y: auto;
}
.homeright{
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    flex-wrap: wrap;
}
.hiddenleft{
    width: 70px;
    background-color: #0F0F0F;
    font-size: 10px;
    transition: all .3s ease-in-out;
}
.hiddenleft img{
    filter: invert(100%);
}
.sidebarIconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 0;
}
.sidebarIconContainer:hover{
    background-color: #272727;
}
.sidebarIconContainer img{
    height: 26px;
}

/* Define scrollbar width and track color */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Define scrollbar track color */
  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Black */
  }
  
  /* Define scrollbar thumb color */
  ::-webkit-scrollbar-thumb {
    background: #3c3c3c; /* Dark gray */
    border-radius: 6px;
  }
  
  /* Define scrollbar thumb on hover color */
  ::-webkit-scrollbar-thumb:hover {
    background: #444444; /* Light gray */
  }
  
  .homeContainer .ooyeh{
    position: absolute;
  }

  .hiddenleft{
    display: none;
  }
  .homeleft{
    display: none;
  }

  .homeContainer .active{
    display: block;
  }

  @media only screen and (max-width: 768px) {
    .hiddenleft{
        display: none;
    }
    .homeleft{
        display: none;
    }
  }