.searchCardContainer {
  /* border: 1px solid white; */
  width: 80%;
  /* display: flex; */
  /* gap: 1.5rem; */
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns, each taking up equal space */
  gap: 15px;
}


.searchCardRight h4 {
  font-size: 0.95rem;
}
.searchCardRight p {
  font-size: 0.9rem;
  color: #939393;
}
.searchCardRight {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}
.channelname {
  font-weight: bold;
}
.title {
  margin-bottom: 3px;
}
.searchCardRight .title {
  font-size: 1.3rem;
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  .searchCardContainer {
    /* border: 1px solid white; */
    width: 450px;
    grid-template-columns: 1fr;
  }
  .searchCardContainer .searchCardRight h4 {
    font-size: 1rem;
  }
  .searchCardRight {
    width: 100%;
  }
  .searchCardLeft {
    width: 100%;
    /* border: 1px solid white; */
  }
}

.mobile {
  gap: 10px;
  margin-bottom: 15px;
}
.searchCardLeft {
  /* border: 1px solid white; */
  border-radius: 20px;
  width: 450px;
  height: 290px;
  overflow: hidden;
}

.searchCardLeft img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* background-color: #ccc; Set a background color */
}
